{% if params.width is defined and params.width != 0 %}
    {% set iframeWidth = params.width %}
{% else %}
    {% if params.height is defined and params.height != 0 %}
        {% set iframeWidth = params.height * 1.78125 %}
    {% else %}
        {% set iframeWidth = '300' %}
    {% endif %}
{% endif %}

{% if params.height is defined and params.height != 0 %}
    {% set iframeHeight = params.height %}
{% else %}
    {% if iframeWidth is defined %}
        {% set iframeHeight = iframeWidth / 1.78125 %}
    {% endif %}
{% endif %}

{% if align is defined %}
    {% if align == 'center' %}
        {% set alignClass = "align-center" %}
    {% elseif align == 'right' %}
        {% set alignClass = "align-right" %}
    {% else %}
        {% set alignClass = "align-left" %}
    {% endif %}
{% endif %}

<div class="embed-container {% if align is defined %}{{ alignClass }}{% endif %}"
     style="{% if iframeWidth is defined %}width: {{ iframeWidth }}px;{% endif %}">
    <div class="iframe-container">
        <iframe
                type="text/html"
                {% if iframeWidth is defined %}width="{{ iframeWidth }}"{% endif %}
                {% if iframeHeight is defined %}height="{{ iframeHeight }}"{% endif %}
                src="//www.youtube.com/embed/{{ ez_richtext_youtube_extract_id(params.video_url) }}?autoplay={{ params.autoplay == 'true' ? 1 : 0 }}"
                frameborder="0">
        </iframe>
    </div>
</div>
