/*
 * Basic styles
 */

body {
  letter-spacing: $letter-spacing-base;
}

/* Body class on opening
main menu on mobile */
.lock-scroll {
  overflow: hidden;
}

// Custom container with full-with under md screen size
.custom-container {
  @include media-breakpoint-down(lg) {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

figure {
  margin-bottom: $paragraph-margin-bottom;
}

/* Figures and images */
.ez-embed-type-image {
  img {
    max-width: 100%;
    height: auto;
  }
  &.align-left {
    display: inline-block;
    float: left;
    margin-right: $paragraph-margin-bottom;
  }
  &.align-right {
    display: inline-block;
    float: right;
    margin-left: $paragraph-margin-bottom;
  }
  &.align-center {
    display: block;
    text-align: center;
  }
}