// Roboto Regular
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
  url("../../fonts/roboto/Roboto-Regular.woff2") format('woff2'),
  url("../../fonts/roboto/Roboto-Regular.woff") format('woff'),
  url('../../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
  url('../../fonts/roboto/Roboto-Regular.eot'),
  url('../../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
// Roboto Italic
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'),
  url("../../fonts/roboto/Roboto-Italic.woff2") format('woff2'),
  url("../../fonts/roboto/Roboto-Italic.woff") format('woff'),
  url('../../fonts/roboto/Roboto-Italic.ttf') format('truetype'),
  url('../../fonts/roboto/Roboto-Italic.eot'),
  url('../../fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/roboto/Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
// Roboto Medium
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'),
  url("../../fonts/roboto/Roboto-Medium.woff2") format('woff2'),
  url("../../fonts/roboto/Roboto-Medium.woff") format('woff'),
  url('../../fonts/roboto/Roboto-Medium.ttf') format('truetype'),
  url('../../fonts/roboto/Roboto-Medium.eot'),
  url('../../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
// Roboto Medium Italic
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'),
  url("../../fonts/roboto/Roboto-MediumItalic.woff2") format('woff2'),
  url("../../fonts/roboto/Roboto-MediumItalic.woff") format('woff'),
  url('../../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype'),
  url('../../fonts/roboto/Roboto-MediumItalic.eot'),
  url('../../fonts/roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/roboto/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
// Roboto Bold
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'),
  url("../../fonts/roboto/Roboto-Bold.woff2") format('woff2'),
  url("../../fonts/roboto/Roboto-Bold.woff") format('woff'),
  url('../../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
  url('../../fonts/roboto/Roboto-Bold.eot'),
  url('../../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
// Roboto Bold Italic
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'),
  url("../../fonts/roboto/Roboto-BoldItalic.woff2") format('woff2'),
  url("../../fonts/roboto/Roboto-BoldItalic.woff") format('woff'),
  url('../../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype'),
  url('../../fonts/roboto/Roboto-BoldItalic.eot'),
  url('../../fonts/roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/roboto/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
// Oxanium Regular
@font-face {
  font-family: 'Oxanium';
  src: local('Oxanium'),
  url("../../fonts/oxanium/Oxanium-Regular.woff2") format('woff2'),
  url("../../fonts/oxanium/Oxanium-Regular.woff") format('woff'),
  url('../../fonts/oxanium/Oxanium-Regular.ttf') format('truetype'),
  url('../../fonts/oxanium/Oxanium-Regular.eot'),
  url('../../fonts/oxanium/Oxanium-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/oxanium/Oxanium-Regular.svg#Oxanium-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
// Icomoon
@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon/icomoon.eot?s0khhs');
  src:  url('../../fonts/icomoon/icomoon.eot?s0khhs#iefix') format('embedded-opentype'),
  url('../../fonts/icomoon/icomoon.ttf?s0khhs') format('truetype'),
  url('../../fonts/icomoon/icomoon.woff?s0khhs') format('woff'),
  url('../../fonts/icomoon/icomoon.svg?s0khhs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
