/*
 * Typography
 */

// Titles
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: $headings-letter-spacing;
}

h2 {
  color: $blue;
}

h3,
h4 {
  font-weight: $font-weight-bold;
}

h4,
h5,
h6 {
  letter-spacing: $headings-letter-spacing - 0.1em;
}

// Blockquote
blockquote {
  @extend h2;
  position: relative;
  display: block;
  font-style: italic;
  padding-left: 8.625rem;
  &::before {
    content: "\e904";
    font-family: $font-family-icon;
    font-style: normal;
    color: $teal;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 3.5rem;
    line-height: 1;
  }
}

/* Ez Richtext field */
.ezrichtext-field {
  h2 {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  h3 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  dl, ol, ul {
    margin-bottom: $paragraph-margin-bottom;
  }
}