{# Breadcrumb #}
{% if breadcrumbs is defined %}
    <div class="container breadcrumb-container">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 order-2 order-md-1">
                {% if breadcrumbs|length > 1 %}
                    <nav aria-label="breadcrumb" role="menubar">
                        <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                            {% for depth, b in breadcrumbs %}
                                {% set breadcrumb = b %}
                                {% if b.valueObject is defined %}
                                    {% set breadcrumb = b.valueObject %}
                                {% endif %}
                                {# If content info is not defined, we can conclude we're not on eZ Object and we can display only breadcrumb variable #}
                                {% if breadcrumb.contentInfo is not defined %}
                                    <li class="breadcrumb-item {% if loop.last %}active{% endif %}" aria-current="page"
                                        itemprop="itemListElement" itemscope
                                        itemtype="https://schema.org/ListItem">
                                        <span itemprop="name" title="{{ breadcrumb }}"
                                              class="current">{{ breadcrumb }}</span>
                                        <meta itemprop="position" content="{{ depth }}">
                                    </li>
                                {% else %}
                                    {% set itemName = breadcrumb.contentInfo.name %}
                                    {% if breadcrumb.id == 2 %}
                                        {% set itemName = 'breadcrumb.home'|trans({}, 'pages') %}
                                    {% endif %}
                                    {% if not loop.last %}
                                        <li class="breadcrumb-item" role="menuitem" itemprop="itemListElement" itemscope
                                            itemtype="https://schema.org/ListItem">
                                            <a itemprop="item" target="_self" typeof="WebPage"
                                               href="{{ ez_path( breadcrumb ) }}"
                                               title="{{ itemName }}">
                                                <span itemprop="name">{{ itemName }}</span>
                                            </a>
                                            <meta itemprop="position" content="{{ breadcrumb.depth }}">
                                        </li>
                                    {% else %}
                                        <li class="breadcrumb-item active" aria-current="page"
                                            itemprop="itemListElement" itemscope
                                            itemtype="https://schema.org/ListItem">
                                            <span itemprop="name" title="{{ itemName }}"
                                                  class="current">{{ itemName }}</span>
                                            <meta itemprop="position" content="{{ breadcrumb.depth }}">
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </nav>
                {% endif %}
            </div>
            {# Social medias #}
            <div class="col-12 col-md-4 order-1 order-md-2" id="social-medias-top-list">
                {% include '@ezdesign/includes/common/social-medias-list.html.twig' %}
            </div>
        </div>
    </div>
{% endif %}
