{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        {% if type == 'error' %}
            {% set type = 'danger' %}
        {% endif %}
        <div class="alert alert-{{ type }} alert-dismissible alert-fixed" role="alert">
            <p>{{ message|trans }}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}
