{# Website footer menu #}
{% if location is not defined %}
    {% set location = {'id': 2} %}
{% endif %}
{% set menuFooter = knp_menu_get('footer',[],{'currentLocationId':location.id}) %}

<footer id="ikinesis-footer">
    <div class="container">
        <div class="row">
            {# Logo #}
            <div class="col-12 logo-container">
                <a class="footer-brand" href="{{ path( 'ez_urlalias', { 'locationId': 2 }) }}"
                   title="{{ "global.home_link_title"|trans({}, 'pages') }}">
                    <img src="{{ asset('assets/project/build/images/logo/logo-ikinesis-short-66.png') }}"
                         alt="{{ "global.logo_alt"|trans({}, 'pages') }}" width="33" height="33">
                </a>
            </div>
            {# Legal notice #}
            <div class="col-12" id="legal-notice">
                <p>{{ "global.legal_notice_right"|trans({}, 'pages') }}</p>
            </div>
            {# Menu #}
            <div class="col-12" id="menu">
                {{ knp_menu_render(menuFooter, {'template': '@ezdesign/menu/menu.html.twig'}) }}
            </div>
        </div>
    </div>
</footer>
