{# Website main menu #}
{% if location is not defined %}
    {% set location = {'id': 2} %}
{% endif %}
{% set menu = knp_menu_get('main',[],{'currentLocationId':location.id}) %}
<div id="nav-overlay" data-controller="navbar" data-action="click->navbar#hideNav"></div>

<nav class="navbar navbar-expand-lg sticky-top" id="ikinesis-navbar-top" data-controller="navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ path( 'ez_urlalias', { 'locationId': 2 }) }}"
           title="{{ "global.home_link_title"|trans({}, 'pages') }}">
            <img src="{{ asset('assets/project/build/images/logo/logo-ikinesis.png') }}"
                 alt="{{ "global.logo_alt"|trans({}, 'pages') }}" width="210" height="43">
        </a>
        <button id="toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav-dropdown"
                aria-controls="navbar-nav-dropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-nav-dropdown">
            {{ knp_menu_render(menu, {'template': '@ezdesign/menu/menu.html.twig'}) }}
        </div>
    </div>
</nav>