{# Social medias links list #}
<ul class="list-unstyled social-medias-list">
    {# Facebook #}
    <li class="list-inline-item">
        <a href="{{ facebook_account_link }}"
           aria-label="{{ "global.social_medias.facebook_aria_label"|trans({}, 'pages') }}"
           title="{{ "global.social_medias.facebook_title"|trans({}, 'pages') }}" target="_blank"
           rel="noopener noreferrer">
            <span class="icon-facebook" aria-hidden="true"></span>
        </a>
    </li>
    {# Instagram #}
    <li class="list-inline-item">
        <a href="{{ instagram_account_link }}"
           aria-label="{{ "global.social_medias.instagram_aria_label"|trans({}, 'pages') }}"
           title="{{ "global.social_medias.instagram_title"|trans({}, 'pages') }}" target="_blank"
           rel="noopener noreferrer">
            <span class="icon-instagram" aria-hidden="true"></span>
        </a>
    </li>
    {# Youtube #}
    <li class="list-inline-item">
        <a href="{{ youtube_account_link }}"
           aria-label="{{ "global.social_medias.youtube_aria_label"|trans({}, 'pages') }}"
           title="{{ "global.social_medias.youtube_title"|trans({}, 'pages') }}" target="_blank"
           rel="noopener noreferrer">
            <span class="icon-youtube" aria-hidden="true"></span>
        </a>
    </li>
    {# LinkedIn #}
    <li class="list-inline-item">
        <a href="{{ linkedin_account_link }}"
           aria-label="{{ "global.social_medias.linkedin_aria_label"|trans({}, 'pages') }}"
           title="{{ "global.social_medias.linkedin_title"|trans({}, 'pages') }}" target="_blank"
           rel="noopener noreferrer">
            <span class="icon-linkedin" aria-hidden="true"></span>
        </a>
    </li>
</ul>
