{% extends "@EzPublishCore/content_fields.html.twig" %}

{# Override image rendering #}
{% block ezimage_field %}
    {% apply spaceless %}
        {% if not ez_field_is_empty( content, field ) %}
            {% set urlOnly = parameters.urlOnly|default(false) %}
            {% if parameters.prefix_alias is defined %}
                {% set imageOriginal = ez_image_alias( field, versionInfo,  'original'  ) %}
                {% set alias = (imageOriginal.width > imageOriginal.height) ? parameters.prefix_alias ~ "_width" : parameters.prefix_alias ~ "_height" %}
                
                {% set imageAlias = ez_image_alias( field, versionInfo, alias|default( 'original' ) ) %}
            {% else %}
                {% set imageAlias = ez_image_alias( field, versionInfo, parameters.alias|default( 'original' ) ) %}
            {% endif %}
            {% set src = imageAlias ? asset( imageAlias.uri ) : "//:0" %}
            {% if urlOnly %}
                {{ src }}
            {% else %}
                {% set attrs = {
                    'class': parameters.class|default(''),
                    'height': parameters.height is defined ? parameters.height : (imageAlias ? imageAlias.height : ''),
                    'width': parameters.width is defined ? parameters.width : (imageAlias ? imageAlias.width : ''),
                } %}
                
                <figure {{ block( 'field_attributes' ) }}>
                    {% if parameters.ezlink|default({}) is not empty %}
                    <a
                            href="{{ parameters.ezlink.href }}"
                            {% if parameters.ezlink.title is defined %} title="{{ parameters.ezlink.title|e('html_attr') }}"{% endif %}
                            {% if parameters.ezlink.target is defined %} target="{{ parameters.ezlink.target|e('html_attr') }}"{% endif %}
                    >
                        {% endif %}
                        {# WHEN LAZYLOADING IS ENABLED
                        <img data-src="{{ src }}" src="{{ asset('assets/build/images/common/default-image.jpg') }}"
                             alt="{{ parameters.alternativeText|default(field.value.alternativeText) }}"
                        #}
                        <img src="{{ src }}"
                             alt="{{ parameters.alternativeText|default(field.value.alternativeText) }}"
                        {% for attrname, attrvalue in attrs %}
                            {% if attrvalue %}
                                {% if attrname == 'class' %}
                                    {{ attrname }}="{{ attrvalue }} lazy"
                                {% else %}
                                    {{ attrname }}="{{ attrvalue }}"
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        />
                        <noscript>
                            <img src="{{ src }}"
                                 alt="{{ parameters.alternativeText|default(field.value.alternativeText) }}"
                            {% for attrname, attrvalue in attrs %}
                                {% if attrvalue %}
                                    {% if attrname == 'class' %}
                                        {{ attrname }}="{{ attrvalue }} noscript-img"
                                    {% else %}
                                        {{ attrname }}="{{ attrvalue }}"
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            />
                        </noscript>
                        {% if parameters.ezlink|default({}) is not empty %}
                    </a>
                    {% endif %}
                </figure>
            {% endif %}
        {% endif %}
    {% endapply %}
{% endblock %}

{# Override image asset rendering #}
{% block ezimageasset_field %}
    {% apply spaceless %}
        {% if not ez_field_is_empty(content, field) and parameters.available %}
            {{ ez_http_tag_relation_ids(field.value.destinationContentId) }}
            {% set urlOnly = parameters.urlOnly|default(false) %}
            
            {% if urlOnly == false %}
                <div {{ block('field_attributes') }}>
            {% endif %}
            {{ render(controller('ez_content:embedAction', {
                contentId: field.value.destinationContentId,
                viewType: 'asset_image',
                no_layout: true,
                params: {
                    parameters: parameters|default({'alias': 'original'})|merge({'alternativeText': field.value.alternativeText })
                }
            })) }}
            {% if urlOnly == false %}
                </div>
            {% endif %}
        {% endif %}
    {% endapply %}
{% endblock %}
