<!doctype html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block seo_metas %}
        {# Overriding @NovaeZSEO/seometas_metaslinks.html.twig #}
        {% include '@ezdesign/includes/common/metas.html.twig' %}
    {% endblock %}

    {# Favicon #}
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="57x57"
              href="{{ asset('assets/project/build/images/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60"
              href="{{ asset('assets/project/build/images/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72"
              href="{{ asset('assets/project/build/images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76"
              href="{{ asset('assets/project/build/images/favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114"
              href="{{ asset('assets/project/build/images/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120"
              href="{{ asset('assets/project/build/images/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144"
              href="{{ asset('assets/project/build/images/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152"
              href="{{ asset('assets/project/build/images/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180"
              href="{{ asset('assets/project/build/images/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"
              href="{{ asset('assets/project/build/images/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32"
              href="{{ asset('assets/project/build/images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96"
              href="{{ asset('assets/project/build/images/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16"
              href="{{ asset('assets/project/build/images/favicon/favicon-16x16.png') }}">
        <link rel="manifest" crossorigin="use-credentials"
              href="{{ asset('assets/project/build/images/favicon/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage"
              content="{{ asset('assets/project/build/images/favicon/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', '{{ google_analytics_id }}');
    </script>

    {{ encore_entry_link_tags('app-css') }}

    {% block stylesheets %}{% endblock %}
</head>
<body data-controller="cookie">
{# Navbar #}
{% block header %}
    {% include '@ezdesign/includes/common/menu.html.twig' %}
{% endblock %}

{# Include fixed flash messages #}
{% include '@ezdesign/includes/common/flash-message.html.twig' %}

{% block content %}
{% endblock %}

{# Footer #}
{% block footer %}
    {% include '@ezdesign/includes/common/footer.html.twig' %}
{% endblock %}

<script type="application/javascript">
    // Cookie Consent variables
    let gaUa = '{{ google_analytics_id }}';
    let cookieTitle = '{{ "cookie.title"|trans({}, 'pages') }}';
    let cookieMessage = '{{ "cookie.message"|trans({}, 'pages') }}';
    let cookieAccept = '{{ "cookie.accept"|trans({}, 'pages') }}';
    let cookieDeny = '{{ "cookie.deny"|trans({}, 'pages') }}';
    let cookiePrivacyLinkTitle = '{{ "cookie.link_title"|trans({}, 'pages') }}';
    let cookiePrivacyLink = '{{ path('ez_urlalias', { 'locationId': privacy_policy_location_id }) }}';
</script>
{{ encore_entry_script_tags('app') }}

{% block script %}{% endblock %}
</body>
</html>
