{% extends '@ezdesign/pagelayout.html.twig' %}

{% trans_default_domain 'pages' %}

{% block content %}
    {% if not ez_field_is_empty(content, 'image') %}
        {# Just to see image, remove this render field #}
        {% set imgUrl = ez_render_field( content, "image", {
            parameters: {
                alias: 'full_blur',
                urlOnly: true
            }} ) %}
    {% endif %}

    {# Breadcrumb #}
    {{ render(controller("App\\Controller\\BreadcrumbController::load", { 'locationId': location.id } )) }}

    <article>
        {% if not ez_field_is_empty(content, 'title') or not ez_field_is_empty(content, 'subtitle') %}
            <header>
                <div class="top-banner-article {% if imgUrl is defined %} with-bg {% endif %}"
                     {% if imgUrl is defined %}style="background-image: url('{{ imgUrl }}')" {% endif %}>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 top-banner-article-text">
                                <span class="category">Nom du sujet</span>
                                {% if not ez_field_is_empty(content, 'title') %}
                                    <h1>{{ ez_field_value(content, 'title') }}</h1>
                                {% endif %}
                                {% if not ez_field_is_empty(content, 'subtitle') %}
                                    <h2>{{ ez_field_value(content, 'subtitle') }}</h2>
                                {% endif %}
                                <span class="date">{{ content.contentInfo.publishedDate|format_datetime(pattern="MMMM yyyy")|capitalize }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not ez_field_is_empty(content, 'image') %}
                    <div class="container top-banner-article-image">
                        {{ ez_render_field( content, "image", {
                            parameters: {
                                alias: 'full_width',
                                class: 'img-fluid'
                            }} ) }}
                    </div>
                {% endif %}
            </header>
        {% endif %}
        {% if not ez_field_is_empty(content, 'intro') or not ez_field_is_empty(content, 'content') %}
            <section class="container pt-5 pb-3">
                <div class="row">
                    <div class="col-12">
                        {% if not ez_field_is_empty(content, 'intro') %}
                            {{ ez_render_field(content, 'intro') }}
                        {% endif %}
                        {% if not ez_field_is_empty(content, 'content') %}
                            {{ ez_render_field(content, 'content') }}
                        {% endif %}
                    </div>
                </div>
            </section>
        {% endif %}

        {# Share on social medias #}
        <div id="share-on-medias">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>{{ 'global.sharing_title'|trans }}</h3>
                        <ul class="list-unstyled social-medias-list">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url( 'ez_urlalias', {'contentId': content.id} )|url_encode }}"
                                   target="_blank"
                                   title="{{ "global.sharing_title"|trans }} {{ "global.social_medias.facebook_aria_label"|trans({}, 'pages') }}"
                                   aria-label="{{ "global.social_medias.facebook_aria_label"|trans({}, 'pages') }}">
                                    <span class="icon-facebook" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ url( 'ez_urlalias', {'contentId': content.id} )|url_encode }}&title=&summary=&source={{ url( 'ez_urlalias', {'contentId': content.id} )|url_encode }}"
                                   target="_blank" rel="noopener noreferrer"
                                   title="{{ "global.sharing_title"|trans }} {{ "global.social_medias.linkedin_aria_label"|trans({}, 'pages') }}"
                                   aria-label="{{ "global.social_medias.facebook_aria_label"|trans({}, 'pages') }}">
                                    <span class="icon-linkedin" aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% if items is defined %}
            <section class="other-articles {% if imgUrl is defined %} with-bg {% endif %}"
                     {% if imgUrl is defined %}style="background-image: url('{{ imgUrl }}')" {% endif %}>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="other-articles-title">{{ 'global.related_articles_title'|trans }}</h3>
                        </div>
                        {% if items|length > 0 %}
                            {% set i = 0 %}
                            {% for key, item in items %}
                                {% if item.valueObject.versionInfo.contentInfo.id != content.id and i < 3 %}
                                    <div class="col-12 col-md-6 col-lg-4 card-container">
                                        {{ render(controller('ez_content:viewAction', {'content': item.valueObject, 'viewType': 'embed'})) }}
                                        {% set i = i +1 %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </section>
        {% endif %}
    </article>
{% endblock %}
