{% extends '@ezdesign/pagelayout.html.twig' %}

{% trans_default_domain 'pages' %}

{% block stylesheets %}

{% endblock %}

{% block content %}
    <pre>CONTENT</pre>
    <h1>{{ ez_field_value(content, 'title') }}</h1>
    
    {# Breadcrumb #}
    {{ render(controller("App\\Controller\\BreadcrumbController::load", { 'locationId': location.id } )) }}
    
    {% if not ez_field_is_empty(content, 'subtitle') %}
        <h2>{{ ez_field_value(content, 'subtitle') }}</h2>
    {% endif %}
    {% if not ez_field_is_empty(content, 'intro') %}
        {{ ez_render_field(content, 'intro') }}
    {% endif %}
    {% if not ez_field_is_empty(content, 'content') %}
        {{ ez_render_field(content, 'content') }}
    {% endif %}
{% endblock %}
