{% extends '@ezdesign/pagelayout.html.twig' %}

{% trans_default_domain 'pages' %}

{% block content %}
    {# Breadcrumb and social medias nav #}
    {{ render(controller("App\\Controller\\BreadcrumbController::load", { 'locationId': location.id } )) }}

    {# Items config #}
    {% set mainItem = false %}
    {% if items is defined %}
        {% for key, item in items %}
            {% if key == 0 %}
                {% set mainItem = item %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if not ez_field_is_empty(mainItem, 'image') %}
        {% set imgUrl = ez_render_field( mainItem, "image", {
            parameters: {
                alias: 'full_blur',
                urlOnly: true
            }} ) %}
    {% endif %}
    {% if mainItem or not ez_field_is_empty(content, 'title') %}
        <header class="top-banner top-banner-high"
                {% if imgUrl is defined %}style="background-image: url('{{ imgUrl }}');"{% endif %}>
            {% if not ez_field_is_empty(content, 'title') %}
                <div class="container page-title-container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-center">{{ ez_field_value(content, 'title') }}{% if currentTag %} {{ " - #" ~ currentTag.keyword }}{% endif %}</h1>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if mainItem %}
                {{ render(controller('ez_content:viewAction', {'content': mainItem, 'viewType': 'main_embed'})) }}
            {% endif %}
        </header>
    {% endif %}

    {% if tagDetailArray or items is defined %}
        <section class="container articles-container">
            <div class="row pb-5">
                {% if tagDetailArray %}
                    {% if tagDetailArray|length > 0 %}
                        <div class="col-12 col-lg-4">
                            <div class="sticky-sidebar">
                                <div class="card card-category">
                                    <div class="card-header">
                                        <span class="card-title">{{ "global.tags"|trans }}</span>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-unstyled mb-0">
                                            {% for keyTag, tag in tagDetailArray %}
                                                <li class="list-inline-item">
                                                    <a class="tag {% if tag.isActive %}active{% endif %}"
                                                       href="{{ ez_path( location ) ~ "?tagId=" ~ tag.content.id }}">
                                                        {{ tag.content.keyword }} ({{ tag.count }})
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if items is defined %}
                    <div class="col-12 col-lg-8">
                        {% set dataPage = "2" %}
                        {% if items|length <= limit %}
                            {% set dataPage = "end" %}
                        {% endif %}
                        <div class="row" id="block-list" data-page="{{ dataPage }}" data-controller="infinite-scroll"
                             data-action="infinite-scroll#handleScroll">
                            {% for key, item in items %}
                                {% if key >= 1 %}
                                    <div class="col-12 col-md-6 card-container">
                                        {{ render(controller('ez_content:viewAction', {'content': item, 'viewType': 'embed'})) }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div id="spinner-container">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>

                    </div>
                {% endif %}
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block script %}
    <script type="application/javascript">
        let jsonPath = '{{ path('list_api', {'type': contentTypeDisplayFull|join(',')}) }}';
        let contentTypeDisplayFull = '{{ contentTypeDisplayFull|join(',') }}';
        let locationId = '{{ location.id }}';
    </script>
{% endblock %}
