{% extends '@ezdesign/pagelayout.html.twig' %}

{% block content %}
    {# Typography #}
    <section class="py-5">
        <div class="container pt-5">
            <h1>Titre de niveau 1</h1>
            <h2>Titre de niveau 2</h2>
            <h3>Titre de niveau 3</h3>
            <h4>Titre de niveau 4</h4>
            <h5>Titre de niveau 5</h5>
            <h6>Titre de niveau 6</h6>
            <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit.</strong> Nulla eu egestas turpis, non
                euismod nulla. <a href="#">Pellentesque vitae ligula lobortis</a>, rhoncus lacus ut, efficitur justo.
                Vestibulum et efficitur mauris. In malesuada nec lacus et placerat. Nunc interdum scelerisque ante sit
                amet gravida. Quisque volutpat mattis felis a commodo. Nullam pellentesque tellus at purus blandit, sed
                condimentum ligula tincidunt. Fusce a felis diam.</p>
            <blockquote>
                <p>Duis hendrerit metus a elementum facilisis. Quisque at risus placerat, semper ante vel, luctus nisl. Curabitur risus turpis, pretium ut rutrum et, venenatis eget orci. Nullam massa nisl, finibus id leo vel, bibendum scelerisque tellus.</p>
            </blockquote>
        </div>
    </section>
    {# Tags #}
    <section class="py-5">
        <div class="container text-center">
            <h2>Tags</h2>
        </div>
        <div class="container">
            <a href="#" class="tag">Équipement et mode</a>
            <a href="#" class="tag active">Fitness</a>
        </div>
    </section>

    {# Buttons #}
    <section class="py-5">
        <div class="container text-center">
            <h2>Buttons</h2>
        </div>
        <div class="container">
            <a href="#" class="btn btn-secondary">Bouton</a>
            <a href="#" class="btn btn-lg btn-secondary">Bouton</a>
        </div>
    </section>

    {# Cards #}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Categories and cards</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card card-category">
                        <div class="card-header">
                            <h3 class="card-title">TAGS populaires</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="tag">Équipement et mode</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="tag">mode</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="tag">Lorem</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="tag">Ipsum dolor</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-12 col-md-6 card-container">
                            <a href="#" class="card card-article">
                                <img src="{{ asset('assets/project/build/images/img-basique-ikinesis-390.png') }}"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div>
                                        <span class="card-subject">Card subtitle</span>
                                        <h3 class="card-title">Some long title really long</h3>
                                        <span class="card-date">Novembre 2021</span>
                                    </div>
                                    <p class="card-text">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.
                                        Vestibulum pellentesque dolor sit ametis…</p>
                                </div>
                                <div class="card-footer">
                                    <span class="btn btn-secondary">Lire l'article</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 card-container">
                            <a href="#" class="card card-article">
                                <img src="{{ asset('assets/project/build/images/img-basique-ikinesis-390.png') }}"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div>
                                        <span class="card-subject">Card subtitle</span>
                                        <h3 class="card-title">Card title</h3>
                                        <span class="card-date">Novembre 2021</span>
                                    </div>
                                    <p class="card-text">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.
                                        Vestibulum pellentesque dolor sit ametis…</p>
                                </div>
                                <div class="card-footer">
                                    <span class="btn btn-secondary">Lire l'article</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Breadcrumb #}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Breadcrumb</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}