/*
 * Mixins
 */

// Prefixes for browsers
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

/* Rotate */
@mixin rotate($rotate) {
  @include transform(rotate($rotate));
}

// Scale
@mixin scale ($scale) {
  @include transform(scale($scale));
}