/*
 * Colors
 */

$white: #ffffff;
$blue: #7d8dc4;
$dark-blue: #414e78;
$light-green: #b6cab2;
$green: #8bc97e;
$teal: #19bcb8;
$dark-teal: #29a09d;
$body-color: #2c3f4e;
$yellow: #EFB700;
$dark-grey: #616161;

$primary: $blue;
$secondary: $green;
$info: $teal;
$dark: $body-color;

/*
 * Spacer
 */

$spacer: 1rem;

/*
 * Fonts
 */

// Global
$font-size-base: 1rem;
$font-family-base: "Roboto", Arial, sans-serif;
$font-family-icon: 'icomoon';
$line-height-base: 1.875;
$letter-spacing-base: 0.033em;
$font-weight-medium: 500;

// Headings
$headings-font-family: $font-family-base;
$headings-font-weight: 400;
$headings-line-height: 1.34;
$headings-letter-spacing: 0.3em;
$headings-margin-bottom: $spacer;

$h1-font-size: $font-size-base * 1.875;
$h2-font-size: $h1-font-size;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base * 1.08;
$h6-font-size: $font-size-base;

// Paragraph
$paragraph-margin-bottom: 1.875rem;

// Tags
$tags-letter-spacing: 0.105em;

/*
 * Border radius
 */
$border-radius-lg: 90px;

/*
 * Buttons
 */

// Basic buttons
$input-btn-font-family: $font-family-base;
$input-btn-font-size: $font-size-base * 0.625;
$btn-font-weight: $font-weight-medium;
$input-btn-line-height: 1.2;
$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 0.75rem;
$btn-border-radius: $border-radius-lg;

// Large buttons
$input-btn-padding-y-lg: 0.875rem;
$input-btn-padding-x-lg: 3rem;
$input-btn-font-size-lg: $font-size-base * 0.875;
$btn-border-radius-lg: $border-radius-lg;

/*
 * Navigation menu
 */

$navbar-padding-y: 1.3rem;
$navbar-nav-link-padding-x: 1rem;

/*
 * Cards
 */

$card-border-radius: 0;
$card-border-width: 0;
$card-cap-bg: $white;
$card-spacer-y: 1.75rem;
$card-spacer-x: 1.75rem;
$card-title-spacer-y: 1.25rem;
$card-title-line-height: 1.6;
$card-cap-padding-y: $card-spacer-y;
$card-category-spacer-x: 1.25rem;
$card-category-spacer-y: 1.75rem;

/*
 * Box shadows
 */

$enable-shadows: true;
$box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.09);
$box-shadow-hover: 0px 10px 40px 0px rgba(0,0,0,0.2);

/*
 * Breadcrumb
 */

$breadcrumb-font-size: 0.9375rem;
$breadcrumb-line-height: 1.2;
$breadcrumb-border-radius: 0;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 0;
$breadcrumb-divider-color: $body-color;
$breadcrumb-active-color: $body-color;
$breadcrumb-divider: quote(">");

/*
 * Blockquotes
 */

$blockquote-margin-y:  1.875rem;