/*
 * Footer
 */

#ikinesis-footer {
  background-color: $primary;
  color: $white;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  // Brand logo
  .logo-container {
    text-align: center;
    margin-bottom: 1.75rem;
  }
  .footer-logo {
    width: 100%;
    height: auto;
    max-width: 33px;
  }
  #menu {
    text-align: center;
    font-size: $font-size-base * 0.875;
    ul {
      margin-bottom: 0;
      li {
        position: relative;
        &:not(:last-of-type) {
          margin-right: 1rem;
          &::after {
            content: '-';
            color: $white;
            position: absolute;
            right: -.75rem;
          }
        }
        a {
          color: $white;
          text-decoration: none;
          @include transition();
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
  #legal-notice {
    text-align: center;
    p {
      margin-bottom: 1rem;
    }
  }
}