/*
 * Navbar
 */

#ikinesis-navbar-top {
  background-color: $primary;
  // Brand logo
  .navbar-brand {
    width: 100%;
    max-width: 210px;
    height: auto;
  }
  // Toggler
  .navbar-toggler {
    width: 1.875rem;
    height: 1.5rem;
    position: relative;
    padding: 0;
    &:focus {
      outline: 0;
      @include box-shadow(none);
    }
    .line {
      color: $white;
      position: absolute;
      @include border-radius($border-radius-lg);
      width: 100%;
      height: 2px;
      background-color: $white;
      display: block;
      @include transition(all 0.3s ease-in-out);
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
    &[aria-expanded="true"] {
      .line {
        &:nth-child(1) {
          @include rotate(-45deg);
          top: 12px;
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          @include rotate(45deg);
          top: 12px;
        }
      }
    }
  }
}

// Menu
#navbar-nav-dropdown {
  justify-content: flex-end;
  @include media-breakpoint-down(lg) {
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    overflow-y: scroll;
    top: 5.8125rem;
    left: 0;
    width: 100%;
    max-width: 280px;
    background-color: $primary;
    height: 100%;
    padding: ($spacer * 1.5) 0;
    &.collapsing {
      height: 100%;
      display: flex;
      @include transition(left 0.3s ease);
      left: -100%;
    }
    &.show {
      display: flex;
      z-index: 998;
      left: 0;
      @include transition(left 0.3s ease-in-out);
      .navbar-nav {
        width: 100%;
      }
    }
  }
  .nav-item {
    position: relative;
    @include media-breakpoint-down(lg) {
      padding: 0;
      &:hover,
      &:focus,
      &.active {
        background-color: $white;
        .nav-link {
          color: $secondary;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      @include transition(all 0.3s ease-in-out);
      &::after {
        content: "";
        background-color: $secondary;
        width: 0;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        margin: 0 auto;
        opacity: 0;
        @include transition(all 0.5s ease-in-out);
      }
      &:hover,
      &:focus,
      &.active {
        &::after {
          width: 2.5rem;
          opacity: 1;
        }
      }
    }
  }
  .nav-link {
    font-weight: $font-weight-medium;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-size-base;
    letter-spacing: $headings-letter-spacing;
    line-height: 1.2;
    position: relative;
    @include transition();
    &:hover,
    &:focus {
      color: $white;
    }
    @include media-breakpoint-down(lg) {
      display: block;
      padding: ($spacer/1.4) $spacer;
    }
  }
}

#nav-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 997;
  display: none;
  background-color: $black;
  opacity: 0;
  @include transition();
  animation-delay: 0.5s;
  &.shown {
    display: block;
    opacity: 0.3;
  }
}
