/*
 * Top banners
 */

// Basic top banner (for example for folders)
.top-banner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  @include media-breakpoint-down(sm) {
    background-attachment: scroll;
  }
  &-high {
    padding-bottom: 20rem;
    @include media-breakpoint-only(xl) {
      padding-bottom: 17.15rem;
    }
    @include media-breakpoint-only(lg) {
      padding-bottom: 14.2rem;
    }
    @include media-breakpoint-down(lg) {
      padding-bottom: 0;
    }
  }
  .page-title-container {
    padding-top: 5rem;
    padding-bottom: 3rem;
    @include media-breakpoint-down(md) {
      padding-top: 2.875rem;
      padding-bottom: 2.875rem;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  .main-embed {
    background-image: url("../../images/img-basique-ikinesis-1140.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
    @include media-breakpoint-down(lg) {
      background-image: none !important;
    }
    @include media-breakpoint-down(md) {
      background-color: $white;
    }
    &-image {
      position: relative;
      figure {
        margin-bottom: 0;
      }
      img {
        width: 100%;
        height: auto;
      }
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
    &-content {
      overflow: hidden;
      position: relative;
      @include media-breakpoint-only(lg) {
        max-width: 720px;
      }
      @include media-breakpoint-down(md) {
        max-width: 540px;
        margin: 0 auto;
      }
      &-text {
        padding: 1.5rem 1rem;
        position: relative;
        overflow: hidden;
        background-color: $white;
        @include media-breakpoint-up(lg) {
          padding: 7.5rem 6.25rem;
          background-color: transparent;
          &::before {
            content: "";
            width: 110%;
            height: 130%;
            opacity: 0.7;
            background-color: $white;
            @include rotate(6deg);
            position: absolute;
            top: -15%;
            left: -18%;
            z-index: 10;
          }
          h3 {
            font-size: $h1-font-size;
          }
        }
        @include media-breakpoint-down(lg) {
          text-align: center;
        }
        h3 {
          font-weight: $font-weight-medium;
        }
        & > * {
          position: relative;
          z-index: 11;
        }
      }
    }
  }
}

// Top banner for articles
.top-banner-article {
  width: 100%;
  position: relative;
  &.with-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    padding-bottom: 16.875rem;
    @include media-breakpoint-down(lg) {
      padding-bottom: 0;
    }
    @include media-breakpoint-down(sm) {
      background-attachment: scroll;
    }
  }
  &-text {
    text-align: center;
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
    @include media-breakpoint-down(sm) {
      padding-top: 1.625rem;
      padding-bottom: 1.625rem;
    }
    .category,
    .date {
      font-size: $font-size-base * 0.875;
      color: $dark-grey;
      font-weight: $font-weight-normal;
      text-transform: uppercase;
      letter-spacing: $headings-letter-spacing;
    }
    .date {
      font-style: italic;
      font-size: $font-size-base * 0.75;
    }
  }
  &-image {
    position: relative;
    margin-top: -16.875rem;
    @include media-breakpoint-down(lg) {
      margin-top: 0;
      max-width: 100%;
      padding: 0;
    }
    figure {
      margin-bottom: 0;
    }
    img {
      width: 100%;
    }
  }
}