/*
 * Breadcumb
 */

.breadcrumb-container {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  .breadcrumb {
    line-height: $breadcrumb-line-height;
    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }
}

.breadcrumb-item {
  a {
    color: $body-color;
    text-decoration: none;
    @include transition();
    &:hover,
    &:focus {
      color: $primary;
      text-decoration: none;
    }
  }
}