/*
 * Buttons
 */

.btn {
  color: $white;
  letter-spacing: $headings-letter-spacing;
  text-transform: uppercase;
  @include box-shadow(none);
  &:hover,
  &:focus {
    color: $white;
    @include box-shadow(none);
  }
  &-secondary {
    &:hover,
    &:focus {
      border-color: $yellow;
      background-color: $yellow;
    }
  }
}
