/*
 * Cards
 */

// Wrapper
.card-container {
  margin-bottom: 1.875rem;
}

// Basic cards
.card {
  figure {
    margin-bottom: 0;
  }
  &-img-top {
    height: auto;
  }
  @include box-shadow($box-shadow);
  // Subject
  &-subject {
    font-size: $font-size-base * 0.625;
    display: block;
    text-align: center;
    font-weight: $font-weight-medium;
    color: $dark-grey;
    text-transform: uppercase;
    letter-spacing: $headings-letter-spacing;
    line-height: $headings-line-height;
    margin-bottom: $card-title-spacer-y;
  }
  // Date
  &-date {
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
    font-style: italic;
    font-size: $font-size-base * 0.75;
    margin-bottom: $card-title-spacer-y;
  }
  // Text
  &-text {
    font-size: $font-size-base * 0.875;
    line-height: 1.4;
    padding: 0 2.1rem;
  }
  // Footer
  &-footer {
    padding-top: 0;
  }
}

// Cards for articles
.card-article {
  height: 100%;
  // Title
  .card-title {
    font-size: $h4-font-size;
    line-height: $card-title-line-height;
    letter-spacing: $headings-letter-spacing;
    font-weight: $font-weight-bold;
    text-align: center;
  }
  // Footer
  .card-footer {
    text-align: center;
  }
}

// Cards used to list categories of content
.sticky-sidebar {
  @include media-breakpoint-up(lg) {
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
    max-height: calc(96vh - 130px);
  }
}

.card-category {
  margin-bottom: $spacer * 1.875;
  .card-header {
    padding: ($card-category-spacer-x + 0.25rem) $card-category-spacer-x;
    background-color: $primary;
    .card-title {
      font-size: $h3-font-size;
      text-align: center;
      color: $white;
      margin-bottom: 0;
      font-weight: $font-weight-normal;
      letter-spacing: $headings-letter-spacing;
      text-transform: uppercase;
      display: block;
    }
  }
  .card-body {
    text-align: center;
    padding: $card-category-spacer-y $card-category-spacer-x $card-category-spacer-y / 2;
    .list-inline-item {
      margin-right: 0.25rem;
      margin-left: 0.25rem;
    }
  }
}

// Cards with link
a.card {
  text-decoration: none;
  color: $body-color;
  top: 0;
  @include transition();
  &:hover,
  &:focus {
    outline: 0;
    color: $body-color;
    text-decoration: none;
    @include translate(0, -5px);
    @include box-shadow($box-shadow-hover);
  }
}
