/*
 * Cookies
 */

.cc-window {
  font-size: 0.75rem;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  @include box-shadow($box-shadow);
  .cc-compliance {
    .cc-btn {
      font-size: 0.75rem;
      text-decoration: none;
      font-family: $font-family-base;
      font-weight: $font-weight-normal;
      text-transform: uppercase;
      @include border-radius($border-radius-lg);
      @include transition();
      &:hover,
      &:focus {
        outline: 0;
        text-decoration: none;
      }
      &.cc-allow {
        &:hover,
        &:focus {
          background: $yellow;
        }
      }
      &.cc-deny {
        &:hover,
        &:focus {
          background: $body-color;
        }
      }
    }
  }
  .cc-link {
    outline: 0;
    &:hover,
    &:focus {
      outline: 0;
    }
  }
}

.cc-revoke {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  font-size: $font-size-base * 0.875;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
