/*
 * Social medias lists
 */

.social-medias-list {
  margin-bottom: 0;
  li {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      background-color: $secondary;
      color: $white;
      text-decoration: none;
      width: 2rem;
      height: 2rem;
      text-align: center;
      @include border-radius($border-radius-lg);
      @include transition();
      &:hover,
      &:focus {
        background-color: $primary;
        text-decoration: none;
      }
      span {
        color: $white;
        vertical-align: middle;
        display: inline-block;
        font-size: 1.25rem;
        line-height: 1;
      }
    }
  }
}

/*
 * Social medias list placed
 * into the breadcrumb
 */

#social-medias-top-list {
  text-align: right;
  @include media-breakpoint-down(md) {
    text-align: center;
    margin-bottom: $spacer * 1.5;
  }
}

/*
 * Social medias list to share article
 */

#share-on-medias {
  background-color: $white;
  padding-top: 1rem;
  padding-bottom: 3rem;
  text-align: center;
}