//   _
//  | |_ __ _  __ _ ___
//  | __/ _` |/ _` / __|
//  | |_ (_| | (_| \__ \
//   \__\__,_|\__, |___/
//            |___/

.tag {
  background-color: $green;
  display: inline-block;
  color: $white;
  font-size: $font-size-base * 0.625;
  letter-spacing: $tags-letter-spacing;
  line-height: 1.2;
  padding: 0.75rem;
  border-radius: $btn-border-radius;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: $font-weight-medium;
  @include transition();
  &:hover,
  &:focus,
  &.active {
    color: $white;
    background-color: $yellow;
  }
}
