/*
 * Videos
 */

.embed-container {
  max-width: 100%;
  margin-bottom: $paragraph-margin-bottom;
  display: inline-block;
  margin-right: 1rem;
  &.align-left {
    display: inline-block;
    float: left;
    margin-right: $paragraph-margin-bottom;
  }
  &.align-right {
    display: inline-block;
    float: right;
    margin-left: $paragraph-margin-bottom;
  }
  &.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding-top: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    max-width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}