{% if not ez_field_is_empty(content, 'image') %}
    {% set imgUrl = ez_render_field( content, "image", {
        parameters: {
            alias: 'full_width',
            urlOnly: true
        }} ) %}
{% endif %}

<div class="container custom-container">
    <div class="main-embed" {% if imgUrl is defined %} style="background-image: url('{{ imgUrl }}')" {% endif %}>
        <div class="row">
            <div class="col-12 main-embed-image">
                {# Image config #}
                {% if not ez_field_is_empty(content, 'image') %}
                    {{ ez_render_field( content, "image", {
                        parameters: {
                            alias: 'top_article_width'
                        }} ) }}
                {% else %}
                    <img src="{{ asset('assets/project/build/images/img-basique-ikinesis-380.png') }}"
                         alt="{{ "global.image_basic_alt"|trans({} , 'pages') }}" width="380" height="285">
                {% endif %}
            </div>
            <div class="col-12 col-lg-6 main-embed-content">
                <div class="main-embed-content-text">
                    <h3>{{ ez_field_value(content, 'title') }}</h3>
                    {% if not ez_field_is_empty(content, 'intro') %}
                        <p>{{ ez_field_value(content, 'intro')|striptags|u.truncate(100, '...', true)|raw }}</p>
                    {% endif %}
                    <a class="btn btn-lg btn-secondary"
                       href="{{ path('ez_urlalias', {'contentId': content.id}) }}">{{ "global.read_more"|trans({}, "pages") }}</a>
                </div>
            </div>
        </div>
    </div>
</div>