/*
 * Article
 */

// Section with other interesting articles
.other-articles {
  background-color: $white;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  &.with-bg {
    padding-top: 4.25rem;
    padding-bottom: 3rem;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-title {
    margin-bottom: 4rem;
    text-align: center;
  }
}