/*
 * Folders style
 */

.articles-container {
  position: relative;
  margin-top: -20rem;
  @include media-breakpoint-only(xl) {
    margin-top: -17.15rem;
  }
  @include media-breakpoint-only(lg) {
    margin-top: -14.2rem;
  }
  @include media-breakpoint-down(lg) {
    margin-top: 4rem;
  }
}