<a href="{{ path('ez_urlalias', {'contentId': content.id}) }}" class="card card-article">
    {% if not ez_field_is_empty(content, 'image') %}
        {{ ez_render_field( content, "image", {
            parameters: {
                prefix_alias: 'embed',
                class: 'card-img-top'
            }} ) }}
    {% else %}
        <img src="{{ asset('assets/project/build/images/img-basique-ikinesis-390.png') }}"
             class="card-img-top" alt="{{ "global.image_basic_alt"|trans({} , 'pages') }}">
    {% endif %}
    <div class="card-body">
        <span class="card-subject">Card subtitle</span>
        {% if not ez_field_is_empty(content, 'title') %}
            <h3 class="card-title">{{ ez_field_value(content, 'title') }}</h3>
        {% endif %}
        <span class="card-date">{{ content.contentInfo.publishedDate|format_datetime(pattern="MMMM yyyy") }}</span>
        {% if not ez_field_is_empty(content, 'intro') %}
            <p class="card-text">{{ ez_field_value(content, 'intro')|striptags|u.truncate(100, '...', true)|raw }}</p>
        {% endif %}
    </div>
    <div class="card-footer">
        <span class="btn btn-secondary">{{ "global.read_article"|trans({}, "pages") }}</span>
    </div>
</a>
