{% for item in resultList %}
    <div class="col-12 col-md-6 card-container">
        {{ render(controller('ez_content:viewAction', {'content': item, 'viewType': 'embed'})) }}
    </div>
{% endfor %}
